* {
    border: none;
    border-radius: 8px;
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
    padding: 0 10px;
    margin: 3px;
    color: #ffffff;
    background-color: transparent;
}

window#waybar {
    background: rgba(51,255,255,0.15);
}

#custom-eye,
#pulseaudio,
#pulseaudio.input,
#custom-networkicon,
#cpu,
#memory,
#temperature,
#battery,
#backlight,
#clock,
#custom-kblayout,
#custom-power,
#bluetooth,
#network {
    background-color: rgba(55, 146, 179, 0.1);
    color: #ffffff;
}

#network.disconnected { 
    background-color: #2d2d2d;
    color: #ff5555;
}

#tray {
    padding: 0 10px;
}
